#perfil img{
    width: 200px;
    height: 200px;
}
#perfil{
    width: 500px;
    height: 200px;  
    display: inline-block; 
    float: left;
    position: absolute; /*alinhando as divs*/
}
#perfil p{
    font-size: 15px;
    font-family: sans-serif;
    text-align: justify;
}
/* div solicitacao e doacao*/
#doacao{
    width: 1100px;
    height: 400px;
    float: right;
}
#doacao p{
    font-family: sans-serif;
    font-size: 15px;
}
#doacao p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#doacao img{
 width: 300px;
 height: 300px;
}
#solicitacao{  
    width: 1100px;
    height: 400px;
    margin-right: 0px;
    float: right;
}
#solicitacao p{
    font-family: sans-serif;
    font-size: 15px;
}
#solicitacao p:hover{
    text-decoration: underline;
    cursor: pointer; /*altera o cursor quando passa o mouse por cima*/
}

#solicitacao img{
    width: 300px;
    height: 300px;
}
h1{
    font-size: 25px;
    font-family: sans-serif;
}
h2,h3{
    font-size: 20px;
    font-family: sans-serif;
}
#pesquise{
    border-radius: 30px;
    width: 250px;
    height: 20px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}
#pesquise2{
    border-radius: 30px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    font-family: sans-serif;
    background-color: green;
}
#solicite{
    border-radius: 30px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    font-family: sans-serif;
    background-color: green;
    display: block;
}
/* div pra input de pesquisa*/
#pesquisa{
    float: right;
    display: block;
    margin-bottom: 15px;
}
/* barra de navegação */
ul.navegacao li{
   list-style: none; /* tira estilo da lista*/
   display: inline; /* coloca os itens da lista na mesma linha */
   float: right; /*coloca os itens a direita*/
   font-family: sans-serif;
   font-size: 20px;
   margin: 10px; /* espaço entre os elementos da lista*/
}
ul.navegacao a{
    color: black; /*cor da fonte*/
    text-decoration: none; /*tira a decoração do texto*/
}
ul.navegacao a:hover{
    text-decoration: underline; /*font ficar com sublinhado quando passar o mouse por cima*/
}
/* alinhando barra de navegação ao centro da página*/
section.navega{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#remedios{
    width: 1100px;
    height: 700px;
    float: right;
}
#remedios img{
    width: 300px;
    height: 300px;
}
#remedios p{
    font-family: sans-serif;
    font-size: 15px;
}
#remedios p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#solicite:hover{
    background-color: #ba1543;
    color:white;
    cursor: pointer;
}
#pesquise2:hover{
    background-color: #ba1543;
    color:white;
    cursor: pointer;
}

