* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v177_92 {
    width: 100%;
    height: 1404px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_93 {
    width: 43px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 645px;
    left: 171px;
    font-family: Chau Philomene One;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v177_94 {
    width: 31px;
    height: 31px;
    background: url("../images/v177_94.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 156px;
    left: 873px;
    overflow: hidden;
  }
  .v177_95 {
    width: 176px;
    color: rgba(186,21,67,1);
    position: absolute;
    top: 158px;
    left: 387px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_96 {
    width: 998px;
    background: url("../images/v177_96.png");
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 214px;
    border: 3px solid rgba(0,0,0,1);
  }
  .v177_98 {
    width: 184px;
    height: 94px;
    background: url("../images/v177_98.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 121px;
    left: 79px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v177_101 {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 804px;
    left: 62px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_102 {
    width: 254px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 803px;
    left: 251px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_103 {
    width: 250px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 835px;
    left: 253px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_104 {
    width: 176px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 804px;
    left: 505px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_105 {
    width: 176px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 835px;
    left: 503px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_106 {
    width: 122px;
    color: rgba(186,21,67,1);
    position: absolute;
    top: 158px;
    left: 620px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_107 {
    width: 150px;
    height: 200px;
    background: url("../images/v177_107.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 249px;
    left: 92px;
    overflow: hidden;
  }
  .v177_108 {
    width: 326px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 255px;
    left: 237px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: justified;
  }
  .v177_109 {
    width: 314px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 255px;
    left: 888px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: justified;
  }
  .v177_110 {
    width: 463px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 578px;
    left: 62px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: justified;
  }
  .v177_111 {
    width: 270px;
    height: 26px;
    background: rgba(0,0,0,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 158px;
    left: 924px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v177_112 {
    width: 150px;
    height: 183px;
    background: url("../images/v177_112.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 255px;
    left: 675px;
    overflow: hidden;
  }
  .v177_113 {
    width: 369px;
    height: 200px;
    background: url("../images/v177_113.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 487px;
    left: 843px;
    overflow: hidden;
  }
  .v177_114 {
    width: 94px;
    background: url("../images/v177_114.png");
    opacity: 1;
    position: absolute;
    top: 449px;
    left: 742px;
    border: 3px solid rgba(186,21,67,1);
  }
  .v307_2 {
    width: 463px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 792px;
    left: 42px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: justified;
  }
  .v177_131 {
    width: 387px;
    height: 200px;
    background: url("../images/v177_131.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 928px;
    left: 42px;
    overflow: hidden;
  }
  .v177_116 {
    width: 56px;
    height: 25px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 1139px;
    left: 208px;
    border-radius: 50%;
  }
  .v177_130 {
    width: 463px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1175px;
    left: 5px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: justified;
  }
  .v177_129 {
    width: 463px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 730px;
    left: 720px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: justified;
  }
  .v177_132 {
    width: 378px;
    height: 200px;
    background: url("../images/v177_132.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 875px;
    left: 826px;
    overflow: hidden;
  }
  .v177_133 {
    width: 377px;
    height: 200px;
    background: url("../images/v177_133.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1085px;
    left: 770px;
    overflow: hidden;
  }
  .v307_4 {
    width: 100%;
    height: 95px;
    background: url("../images/v307_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1296px;
    left: 9px;
    overflow: hidden;
  }
  .v177_84 {
    width: 100%;
    height: 95px;
    background: rgba(67,66,66,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_86 {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 111px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_87 {
    width: 254px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 10px;
    left: 300px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_88 {
    width: 250px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 42px;
    left: 302px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_89 {
    width: 176px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 554px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v177_90 {
    width: 176px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 42px;
    left: 552px;
    font-family: Chenla;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  